name: Build and Publish

on:
  push:
    branches: [ "main" ]

jobs:
  publish:
    runs-on: self-hosted # Votre runner Rocky Linux
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            20188783/api-axa-cnaas:latest
            20188783/api-axa-cnaas:${{ github.run_number }}